# Игнорировать файлы миграции Django
/<catalog>/migrations/

# Игнорировать виртуальное окружение
/venv/

# Игнорировать файлы настроек локальной среды
.env

# Игнорировать файлы локальных настроек Django
/<catalog>/settings_local.py


